MONGO_URI=mongodb+srv://reljod:<db_password>@kitaph.m1trtzz.mongodb.net/?appName=KitaPHMONGO_DB_NAME="kita_db"
OPENROUTER_API_KEY=<openrouter_api_key>  # This should be secret
LLM_MODEL="meta-llama/llama-3.1-8b-instruct" # Optional, defaults to this model

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<langsmith_api_key>
LANGSMITH_PROJECT="kita_ph"

FACEBOOK_VERIFY_TOKEN=<facebook_verify_token>
FACEBOOK_APP_SECRET=<facebook_app_secret>
