MONGO_URI=mongodb+srv://reljod:<db_password>@kitaph.m1trtzz.mongodb.net/?appName=KitaPH
MONGO_DB_NAME=kita_db
OPENROUTER_API_KEY=<openrouter_api_key>  # This should be secret
LLM_MODEL="meta-llama/llama-3.1-8b-instruct" # Optional, defaults to this model

FACEBOOK_VERIFY_TOKEN=<facebook_verify_token>
FACEBOOK_APP_SECRET=<facebook_app_secret>

REDIS_CONNECTION_STRING=<redis_connection_key>

SERPER_API_KEY=<serper_api_key>

LOGFIRE_TOKEN=<logfire_token>

LLAMA_CLOUD_TOKEN=<llama_cloud_token>

SUPABASE_URL=https://uvwqmxnmzekjlvkxtcnc.supabase.co
SUPABASE_KEY=<supabase_key>

HATCHET_CLIENT_TOKEN=<hatchet_client_token>
HATCHET_CLI_TOKEN=<hatchet_cli_token>

NEO4J_URI=neo4j+s://f0057101.databases.neo4j.io
NEO4J_USERNAME=f0057101
NEO4J_PASSWORD=<neo4j_password>
NEO4J_DATABASE=f0057101
AURA_INSTANCEID=f0057101
AURA_INSTANCENAME=Kita PH Graph DB

CORS_ALLOWED_ORIGINS=<comma_separated_origins>

