MONGO_URI=mongodb+srv://reljod:<db_password>@kitaph.m1trtzz.mongodb.net/?appName=KitaPHMONGO_DB_NAME="kita_db"
OPENROUTER_API_KEY=<openrouter_api_key>  # This should be secret
LLM_MODEL="meta-llama/llama-3.1-8b-instruct" # Optional, defaults to this model
